body {
    background: url(https://image.freepik.com/free-vector/vector-illustration-mountain-landscape_1441-77.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
}

.cell {
    width: 24px;
    height: 24px;
    text-align: center;
    font-size: 2.em;
}

.formLine {
    margin: 1px;
    padding: 1px;
    background-color: cornflowerblue;
}

table {
    margin: auto;
    border: 3px solid steelblue;
    padding: 1px;
}

.Num1 {
    color: blue;
}

.Num2 {
    color: green;
}

.Num3 {
    color: red;
}

.Num4 {
    color: darkblue;
}

.Num5 {
    color: darkgreen;
}

.Num6 {
    color: darkred;
}

.Num7 {
    color: steelblue;
}

.Num8 {
    color: black;
}

.level {
    font-size: 15px;
    font-weight: bold;
    padding: 5px;
    margin: 5px;
    color: #00225b;
    cursor: pointer;
}

.Flags,
.timeCount {
    padding: 15px;
    margin: 3px;
    color: red;
    background: black;
}

.emoji {
    margin: 3px;
    font-size: 20px;
    cursor: pointer;
}

.lifes {
    margin: 1px;
    padding: 10px;
    font-size: 15px;
    color: steelblue;
}

.bestScore,
.bestScoreMedium,
.bestScoreHard {
    position: absolute;
    top: 40px;
    left: 10px;
    width: 100px;
    height: 20px;
    border: 3px solid darkgreen;
    background: white;
    color: steelblue;
    font-weight: bold;
    border-top: none;
}

.bestScoreName {
    position: absolute;
    left: 10px;
    width: 100px;
    height: 20px;
    border: 3px solid green;
    border-bottom: none;
    color: white;
    background: steelblue;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

.hints {
    margin: 20px;
}

.hint {
    margin: 50px;
    font-size: 15px;
    cursor: pointer;
}

.hintAlert {
    color: orange;
    font-weight: bold;
}

.sound {
    position: absolute;
    left: 125px;
    cursor: pointer;
}

.music {
    position: absolute;
    left: 150px;
    cursor: pointer;
}

.selectedLevel {
    font-size: 15px;
    font-weight: bold;
    padding: 5px;
    margin: 5px;
    border: solid #00225b;
    border-radius: 100px;
    cursor: pointer;
}

.ExpertOnly {
    position: absolute;
    left: 10px;
    top: 50px;
    border-bottom: none;
    color: darkorange;
    font-size: 13px;
}

.level:hover {
    font-size: 15px;
    font-weight: bold;
    padding: 5px;
    margin: 5px;
    border: solid #00225b;
    border-radius: 100px;
    cursor: pointer;
    transition: 0.5s;
}

@media (max-width: 1060px) {
    .cell {
        width: 50px;
        height: 50px;
        font-size: 4.em;
    }
    .formLine {
        margin: 4px;
        padding: 2px;
    }
    table {
        border: 6px solid steelblue;
        padding: 2px;
    }
    .level {
        font-size: 30px;
        padding: 10px;
        margin: 20px;
    }
    .Flags,
    .timeCount {
        padding: 30px;
        margin: 9px;
    }
    .emoji {
        margin: 9px;
        font-size: 40px;
    }
    .lifes {
        margin: 4px;
        padding: 20px;
        font-size: 30px;
    }
    .bestScore,
    .bestScoreMedium,
    .bestScoreHard {
        width: 50px;
        height: 40px;
        border: 6px solid darkgreen;
    }
    .bestScoreName {
        width: 50px;
        height: 40px;
        top: 200px;
        border: 6px solid green;
    }
    .hints {
        margin: 50px;
    }
    .hint {
        margin: 110px;
        font-size: 30px;
    }
    .selectedLevel {
        font-size: 30px;
        padding: 10px;
        margin: 20px;
        border-radius: 200px;
    }
    .ExpertOnly {
        font-size: 26px;
    }
    .level:hover {
        font-size: 30px;
        padding: 10px;
        margin: 15px;
        border-radius: 200px;
        transition: 0.5s;
    }
}